@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        height: auto !important;
        overflow: visible !important;
        overflow-y: auto !important;
    }
}
